@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background: darkslategrey;
}

.container {
    height: 100vh;
    max-width: 1160px;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    background: antiquewhite;
    padding: 30px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

ul li:last-of-type {
    margin-bottom: 0;
}

ul li button {
    font-family: inherit;
    border: none;
    background: darkslategrey;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
}